.navcss{
    background-color: rgb(216, 127, 25);
    position: relative;
    margin-bottom: 2rem;
    
    
    
    
    }
    .navtitle{
        text-align: center;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: whitesmoke;
        margin-left: 10px;
        
    }