.navcss{
    background-color: #d87f19;
    position: relative;
    margin-bottom: 2rem;
    
    
    
    
    }
    .navtitle{
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: whitesmoke;
        
        
    }